{% extends 'base.html' %}
{% block body %}

    <div class="container">
        <header class="blog-header py-3">
            <h1 style="text-align:center">My Portfolios          <img src="{{url_for('static', filename='/img/mylogo-w.png')}}" ><img src="{{url_for('static', filename='/img/avatar.png')}}"  alt="avatar.png"></h1>
        </header>
        <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark ">
            <div class="col-md-5 px-0">
                <h1 class="display-4 font-italic">My Own WebSite</h1>
                <li>MySQL</li>
                <li>Flask</li>
                <li>AWS</li>
                <li>Bootstrap</li>
                <li>JavaScript</li>
                <p class="lead my-3">More future will be added... Soon...</p>
                <p class="lead my-3"></p>
                <p class="lead mb-0"><a href="http://shushengacademy.com/tt2/csv-submit" class="text-white font-weight-bold">TT2 Player Click here!  <img src="{{url_for('static', filename='/img/taptitans2.png')}} "height="50" width="50"  alt="taptitans2.png"></a></p>
            </div>
</div>

<div class="row mt-3">
  <div class="col-sm-6">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Data Science Projects</h5>
        <p class="card-text">Need to be done...</p>
        <a href="https://www.kaggle.com/shenshu1992" class="btn btn-primary">My Kaggle</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Financial Projects</h5>
        <p class="card-text">Need to be done...</p>
        <a href="#" class="btn btn-primary">Nothing</a>
      </div>
    </div>
  </div>
</div>
    </div>
</body>
{% endblock %}