{% extends 'base.html' %}



{% block body %}
    <div class="container" >
        <h1>This is tt2-csv-submit.html</h1>
            <form method="POST" >
        <div class="mb-5">
          <label for="exampleFormControlInput1" class="form-label">Your name</label>
          <input  class="form-control"  name= "issuerInput" placeholder="Your id will make you easy to review reports">
        </div>

                <h5>Do you know when it finished?</h5>
        <div class="mb-5">
            <div class="input-group">
              <span class="input-group-text">Finished Date:</span>
                <input type="date" aria-label="Finished Year" name="inputFRaid_Finished_date" class="form-control" placeholder="Year">
            </div>
        </div>
                <h5>What is your clan ID?</h5>
        <div class="mb-5">
            <div class="input-group">
              <span class="input-group-text">Clan ID:</span>
                <input type="text" aria-label="Clan ID" name="inputClan_Code"class="form-control" placeholder="Clan ID">
            </div>
        </div>
                <h5>Please paste your Clan Raid CSV Here!</h5>

        <div class="mb-5">
{#            <label for="exampleFormControlTextarea1" class="form-label">Paste your clan raid csv here</label>#}
            <textarea class="form-control"  name= "csvInput" rows="10"></textarea>
        </div>

        <input class="btn btn-primary" type="submit" value="Submit">
            </form>
    </div>
{% endblock %}